.*.swp

awp/*.js
ennuicastr-test.js
ennuicastr-test.min.js
ennuicastr.js
ennuicastr.min.js
fa/
hotkeys.min.js
inst
libav/libav-*
libs/NoSleep.min.js
libs/ennuiboard.min.js
libs/jquery.min.js
libs/localforage.min.js
libs/vosk*
node_modules/
noise-repellent/noise-repellent-m.*
package-lock.json
protocol.min.js
sw.js
