@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
    background: #1a3333;
    color: #cff;
    font-family: 'Noto Serif', sans-serif;
    font-size: 1rem;
}

a {
    color: #fcc;
}

.cflex {
    display: flex;
    flex-direction: column;
}

.rflex {
    display: flex;
    align-items: center;
    overflow: auto hidden;
}

.halfspan {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
}

.halfspan-left {
    padding-right: 0.25em;
}

.halfspan-right {
    padding-left: 0.25em;
}

@media screen and (max-width: 480px) {
    .halfspan {
        width: 100%;
    }

    .halfspan-left {
        padding-right: 0;
    }

    .halfspan-right {
        padding-left: 0;
    }
}

.row {
    width: 100%;
    margin-bottom: 0.5em;
}

:root {
    --panel-padding: 0.5em 0.5em 0.25em 0.5em;
    --panel-border-top: none;
    --panel-border-bottom: 2px solid #aaa;
    --panel-border-top-radius: 0;
    --panel-border-bottom-radius: 0.2em;
}

[data-panel-alignment="bottom"] {
    --panel-padding: 0.25em 0.5em 0.5em 0.5em;
    --panel-border-top: 2px solid #aaa;
    --panel-border-bottom: none;
    --panel-border-top-radius: 0.2em;
    --panel-border-bottom-radius: 0;
}

.panel {
    padding: var(--panel-padding);
}

.panel:not(.noborder) {
    border-left: 2px solid #aaa;
    border-right: 2px solid #aaa;
    border-top: var(--panel-border-top);
    border-bottom: var(--panel-border-bottom);
    border-top-left-radius: var(--panel-border-top-radius);
    border-top-right-radius: var(--panel-border-top-radius);
    border-bottom-left-radius: var(--panel-border-bottom-radius);
    border-bottom-right-radius: var(--panel-border-bottom-radius);
}

.invite {
    background-color: #2b5555;
}

.status {
    background: #ccc;
    color: #333;
    text-align: center;
    padding: 0.25em;
    margin-top: 0.5em;
}

.status > a {
    color: #00A;
}

.namelabel {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.2em;
    border-top-right-radius: 0.2em;
    background-color: rgba(170, 170, 170, 0.9);
    color: #000;
}

.chat {
    border: solid 1px;
}

button:not(.plain), .button {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #1a3333;
    color: #fff;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 2.85em;
    line-height: 2.95em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

button.nouppercase, .button.nouppercase {
    text-transform: none;
}

button:not(.plain):hover, .button:hover {
    background-color: #2b5555;
}

button.off, button.off:hover {
    background-color: #333;
}

.menubutton {
    font-size: 1em;
    min-width: 4em;
    margin-right: 0.5em;
}

.fsbutton {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    font-size: 1em;
    min-width: 4em;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #1a3333;
    color: #fff;
    border-radius: 0;
    border: none;
    border: solid 1px;
    outline: 0;
    padding: 0.5em;
    text-decoration: none;
}

select:hover {
    background-color: #2b5555;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #1a3333;
    border: 1px solid #fff;
    padding: 0.6em;
    margin: 0;
}

input[type="checkbox"]:hover {
    background-color: #2b5555;
}

input[type="checkbox"]:checked:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fff;
    content: "\f00c";
    position: absolute;
    font-size: 0.9em;
    left: 0.15em;
    top: 0.1em;
}
