body {
    background: #033;
    color: #cff;
}

a {
    color: #fcc;
}

.cflex {
    display: flex;
    flex-direction: column;
}

.rflex {
    display: flex;
    align-items: center;
    overflow: auto;
}

.halfspan {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
}

.halfspan-left {
    padding-right: 0.25em;
}

.halfspan-right {
    padding-left: 0.25em;
}

@media screen and (max-width: 480px) {
    .halfspan {
        width: 100%;
    }

    .halfspan-left {
        padding-right: 0;
    }

    .halfspan-right {
        padding-left: 0;
    }
}

.row {
    width: 100%;
    margin-bottom: 0.5em;
}

.panel {
    margin: 0.5em 0.5em 0 0.5em;
}

.invite {
    background-color: #055;
}

.status {
    background: #ccc;
    color: #333;
    text-align: center;
    padding: 0.25em;
    margin-top: 0.5em;
}

.status > a {
    color: #00A;
}

.chat {
    border: solid 1px;
}

button:not(.plain), .button {
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #033;
    color: #fff;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 2.85em;
    line-height: 2.95em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

button:not(.plain):hover, .button:hover {
    background-color: #055;
}

button.off, button.off:hover {
    background-color: #333;
}

.menubutton {
    font-size: 1em;
    min-width: 4em;
    margin-right: 0.5em;
}

.fsbutton {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    font-size: 1em;
    min-width: 4em;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    background-color: #033;
    color: #fff;
    border-radius: 0;
    border: none;
    border: solid 1px;
    outline: 0;
    padding: 0.5em;
    text-decoration: none;
}
